@charset 'utf-8';
/*!
 Theme: Minim
 Author: Haruka Ashiuchi
 Description: ミニマルなあなたのためのテーマです
 Responsive: yes
 */
body {
  font-family: 'Helvetica Neue', 'Yu Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.header-image-enable .blog-title-content #title a {
  color: #fff;
}
.header-image-enable .blog-title-content #blog-description {
  color: #fff;
}
#blog-title {
  margin: 0 0 80px;
}
#blog-title #blog-title-content {
  padding: 32px 16px;
}
#blog-title #blog-title-content #title {
  margin: 0 0 16px;
}
#blog-title #blog-title-content #title a {
  font-size: 18px;
  color: #333;
}
#blog-title #blog-title-content #blog-description {
  font-size: 14px;
  font-weight: 400;
  color: #A9A9A9;
  margin: 0;
}
#container {
  background: #fff;
  margin: 16px auto;
}
@media screen and (min-width: 960px) {
  #container {
    margin: 40px auto;
  }
}
#container-inner {
  width: auto;
  margin: auto 1rem;
}
@media screen and (min-width: 960px) {
  #container-inner {
    max-width: 630px;
    margin: auto;
  }
}
.content-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .content-inner {
    flex-direction: row;
  }
}
#top-box a,
#top-box span {
  color: #A9A9A9;
}
#main {
  width: auto;
}
@media screen and (min-width: 960px) {
  #main {
    width: 660px;
    padding: 16px 24px;
    margin: 72px 0;
  }
}
#box2 {
  width: auto;
  margin: 0 1rem;
}
@media screen and (min-width: 960px) {
  #box2 {
    width: 660px;
    padding: 0 0 40px 0;
    margin: 0 16px 0 0;
  }
}
#box2-inner {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  #box2-inner {
    flex-flow: row wrap;
  }
}
#bottom-editarea,
#footer {
  max-width: 960px;
  margin: 2em auto;
  font-size: 80%;
  text-align: center;
}
#bottom-editarea a,
#footer a,
#bottom-editarea p,
#footer p {
  color: #333;
}
#bottom-editarea .services,
#footer .services,
#bottom-editarea .footer-address,
#footer .footer-address {
  margin: 0 8px 0 0;
}
.hatena-module {
  width: auto;
  margin: 0 16px 40px 0;
  padding: 16px 0 0;
}
@media screen and (min-width: 960px) {
  .hatena-module {
    width: 45%;
  }
}
.hatena-module .hatena-module-title {
  font-size: 18px;
  margin: 0 0 16px;
  font-weight: 600;
}
.hatena-module .hatena-module-title a {
  color: #333;
}
.hatena-module .hatena-module-body a,
.hatena-module .hatena-module-body span {
  color: #333;
}
.hatena-module .hatena-module-body a:hover,
.hatena-module .hatena-module-body span:hover,
.hatena-module .hatena-module-body a:focus,
.hatena-module .hatena-module-body span:focus {
  color: #DC143C;
}
.hatena-module .hatena-module-body .hatena-urllist {
  padding: 0;
}
.hatena-module .hatena-module-body .hatena-urllist li {
  list-style: none;
  margin: 0 0 16px;
}
.hatena-module .hatena-module-body .urllist-item {
  margin: 0 0 16px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-image-link img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-date-link {
  margin: 0 0 8px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-date-link time {
  color: #A9A9A9;
}
.hatena-module .hatena-module-body .urllist-item .urllist-title-link {
  color: #333;
  margin: 0 0 8px;
  font-size: 16px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-title-link:hover,
.hatena-module .hatena-module-body .urllist-item .urllist-title-link:focus {
  color: #DC143C;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories {
  margin: 0 0 8px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories a {
  color: #333;
  padding: 0.45em;
  display: inline-block;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories a:hover,
.hatena-module .hatena-module-body .urllist-item .urllist-categories a:focus {
  color: #DC143C;
  transition: 0.3s;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories .urllist-category-link {
  margin: 0 0 4px;
}
.hatena-module-profile .hatena-module-body {
  display: flex;
  flex-direction: column;
}
.hatena-module-profile .hatena-module-body .profile-icon,
.hatena-module-profile .hatena-module-body .id {
  margin: 0 0 8px;
}
.hatena-module-profile .hatena-module-body .profile-icon {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.hatena-module-profile .hatena-module-body .profile-description p {
  font-size: 14px;
  margin: 0 0 8px;
}
.hatena-module-category .hatena-urllist li {
  margin: 0 0 8px;
  line-height: 1;
}
.hatena-module-category .hatena-urllist li a {
  color: #333;
  padding: 0.45em;
  display: inline-block;
}
.hatena-module-category .hatena-urllist li a:hover,
.hatena-module-category .hatena-urllist li a:focus {
  color: #DC143C;
  transition: 0.3s;
}
.search-form {
  display: flex;
  border-bottom: 1px solid #A9A9A9;
}
.search-form .search-module-input {
  width: 100%;
  padding: 0.45em;
  border: none;
}
.search-form .search-module-button {
  border: none;
  outline: none;
  background: #fff;
}
.search-form .search-module-button:hover,
.search-form .search-module-button:focus {
  background: #A9A9A9;
}
.entry {
  margin: 0 0 80px;
}
.entry .entry-header {
  position: relative;
}
.entry .entry-header .entry-date {
  margin: 0 0 8px;
}
.entry .entry-header .entry-date a {
  color: #A9A9A9;
}
.entry .entry-header .entry-title {
  margin: 0 0 16px;
}
.entry .entry-header .entry-title a {
  color: #333;
  font-size: 32px;
  font-family: 'YuMincho';
}
.entry .entry-header .entry-title a:hover,
.entry .entry-header .entry-title a:focus {
  color: #DC143C;
}
.entry .entry-header .entry-header-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.entry .entry-header .entry-header-menu a {
  color: #333;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  padding: 0.45em;
}
.entry .entry-header .entry-header-menu a:hover,
.entry .entry-header .entry-header-menu a:focus {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  transition: 0.3s;
  color: #DC143C;
}
.entry .entry-header .entry-categories {
  margin: 0 0 16px;
}
.entry .entry-header .entry-categories .entry-category-link {
  color: #454545;
  font-size: 14px;
  padding: 0.45em;
  display: inline-block;
}
.entry .entry-header .entry-categories .entry-category-link:hover,
.entry .entry-header .entry-categories .entry-category-link:focus {
  color: #DC143C;
  transition: 0.3s;
}
.entry .entry-content {
  text-align: justify;
}
.entry .entry-content .table-of-contents {
  background: #fff;
  border-radius: 4px;
  padding: 8px 16px;
}
.entry .entry-content .table-of-contents a {
  color: #333;
  line-height: 1.5;
}
.entry .entry-content .table-of-contents li {
  list-style: none;
  margin-inline-start: 1em;
}
.entry .entry-content .table-of-contents li ul li {
  list-style-type: disc;
}
.entry .entry-content p {
  font-size: 18px;
  line-height: 1.8;
}
.entry .entry-content p a {
  color: #DC143C;
}
.entry .entry-content p a:hover,
.entry .entry-content p a:focus {
  text-decoration: underline;
}
.entry .entry-content p code {
  background: #272822;
  color: #f8f8f2;
  border-radius: 4px;
  padding: 0.24em;
}
.entry .entry-content li {
  line-height: 1.6;
}
.entry .entry-content h1,
.entry .entry-content h2,
.entry .entry-content h3,
.entry .entry-content h4,
.entry .entry-content h5,
.entry .entry-content h6 {
  margin: 33px 0;
}
.entry .entry-content h1 {
  font-size: 24px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h1 {
    font-size: 32px;
  }
}
.entry .entry-content h2 {
  font-size: 22px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h2 {
    font-size: 30px;
  }
}
.entry .entry-content h3 {
  font-size: 20px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h3 {
    font-size: 28px;
  }
}
.entry .entry-content h4 {
  font-size: 18px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h4 {
    font-size: 26px;
  }
}
.entry .entry-content h5 {
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h5 {
    font-size: 24px;
  }
}
.entry .entry-content h6 {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .entry .entry-content h6 {
    font-size: 22px;
  }
}
.entry .entry-content hr {
  margin: 16px auto;
  width: 50%;
}
.entry .entry-content table {
  width: 100%;
}
.entry .entry-content table th,
.entry .entry-content table td {
  padding: 0.45em;
}
.entry .entry-content thead tr {
  background: #A9A9A9;
}
.entry .entry-content tbody tr:nth-child(2n+1) {
  background: #F5F5F5;
}
.entry .entry-content blockquote {
  margin: 0;
  padding: 16px 24px;
  background: #fff;
  border-left: 4px solid #A9A9A9;
  border-radius: 4px;
}
.entry .entry-content blockquote p {
  margin: 0 0 16px;
  font-style: oblique;
}
.entry .entry-content blockquote p a {
  text-align: center;
}
.entry .entry-content pre {
  background: #272822;
  color: #f8f8f2;
  border-radius: 4px;
  margin: 0 0 16px;
  padding: 16px 24px;
}
.entry .entry-content .entry-see-more {
  border: 1px solid #A9A9A9;
  border-radius: 4px;
  padding: 0.45em;
  color: #333;
}
.entry .entry-content .entry-see-more:hover,
.entry .entry-content .entry-see-more:focus {
  background: #A9A9A9;
}
.entry .entry-footer {
  margin: 32px 0;
}
.entry .entry-footer .entry-footer-section {
  color: #A9A9A9;
  margin: 0 0 16px;
}
.entry .entry-footer .entry-footer-section .entry-footer-time a {
  color: #A9A9A9;
}
.entry .entry-footer .entry-footer-module .hatena-module-related-entries .related-entries .related-entries-entry-body {
  display: none;
}
.entry .entry-footer .comment-box .comment {
  padding: 0;
}
.entry .entry-footer .comment-box .comment li {
  list-style: none;
}
.entry .entry-footer .comment-box .comment li .comment-user-id {
  color: #333;
}
.entry .entry-footer .comment-box .comment .comment-metadata time {
  color: #A9A9A9;
  font-size: 14px;
}
.pager .pager-next,
.pager .pager-prev {
  width: 100%;
  position: relative;
  display: inline-block;
  background: #fff;
}
.pager .pager-next a,
.pager .pager-prev a {
  color: #454545;
  padding: 1em;
  display: block;
}
.pager .pager-next a:hover,
.pager .pager-prev a:hover,
.pager .pager-next a:focus,
.pager .pager-prev a:focus {
  color: #DC143C;
}
.pager .pager-next .pager-arrow,
.pager .pager-prev .pager-arrow {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #454545;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
}
.pager.permalink {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px;
  padding: 8px 16px;
  line-height: 1.5;
}
@media screen and (min-width: 960px) {
  .pager.permalink {
    margin: 32px auto;
  }
}
.pager.permalink .pager-prev {
  margin-right: auto;
  padding: 0 0 0 32px;
}
.pager.permalink .pager-prev a {
  text-align: left;
  padding-left: 0;
}
.pager.permalink .pager-prev .pager-arrow {
  left: 0;
}
.pager.permalink .pager-next {
  margin-left: auto;
  padding: 0 32px 0 0;
}
.pager.permalink .pager-next a {
  text-align: right;
  padding-right: 0;
}
.pager.permalink .pager-next .pager-arrow {
  right: 0;
}
.page-about dl dt,
.page-about dl dd {
  margin: 0 0 16px;
}
.page-about dl dt {
  font-weight: 600;
}
.page-about dl dd ul {
  padding: 0;
  margin: 8px 0;
}
.page-about dl dd li {
  list-style: none;
}
.page-about dl dd li a {
  color: #DC143C;
  text-decoration: underline;
}
.archive-entry {
  margin: 0 0 72px;
}
.archive-entry .archive-entry-header .date {
  margin: 0 0 8px;
}
.archive-entry .archive-entry-header .date time {
  font-size: 16px;
  color: #A9A9A9;
}
.archive-entry .archive-entry-header .entry-title {
  margin: 0 0 16px;
}
.archive-entry .archive-entry-header .entry-title a {
  color: #333;
  font-family: 'YuMincho';
}
.archive-entry .archive-entry-header .entry-title a:hover,
.archive-entry .archive-entry-header .entry-title a:focus {
  color: #DC143C;
}
.archive-entry .categories {
  margin: 0 0 16px;
}
.archive-entry .categories a {
  color: #333;
  font-size: 14px;
  padding: 0.45em;
}
.archive-entry .categories a:hover,
.archive-entry .categories a:focus {
  color: #DC143C;
}
.archive-entry .archive-entry-body .entry-description {
  color: #454545;
  font-size: 14px;
}
