@charset 'utf-8';
/*!
 Theme: Minim
 Author: asssy
 Description: ミニマルなあなたのためのテーマです
 Responsive: yes
 */
body {
  font-family: 'Helvetica Neue', 'Yu Gothic', sans-serif;
}
a {
  text-decoration: none;
}
#blog-title {
  margin: 0 0 80px;
}
#blog-title #blog-title-content #title {
  margin: 0 0 8px;
}
#blog-title #blog-title-content #title a {
  font-size: 18px;
  color: #212121;
}
#blog-title #blog-title-content #blog-description {
  font-size: 16px;
  font-weight: 400;
  color: #90A4AE;
}
#container,
#footer {
  background: #fff;
  margin: 16px auto;
}
@media screen and (min-width: 960px) {
  #container,
  #footer {
    margin: 72px auto;
  }
}
#container-inner {
  width: auto;
  margin: auto 1rem;
}
@media screen and (min-width: 960px) {
  #container-inner {
    max-width: 630px;
    margin: auto;
  }
}
.content-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .content-inner {
    flex-direction: row;
  }
}
#top-box a,
#top-box span {
  color: #90A4AE;
}
#main {
  width: auto;
  padding: 8px 16px;
}
@media screen and (min-width: 960px) {
  #main {
    width: 630px;
    padding: 16px 24px;
    margin: 72px 0;
  }
}
#box2 {
  width: auto;
  margin: 0 1rem;
}
@media screen and (min-width: 960px) {
  #box2 {
    width: 630px;
    padding: 16px 24px;
    margin: 0 auto;
  }
}
#box2-inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  #box2-inner {
    flex-flow: row wrap;
  }
}
#footer-inner {
  max-width: 800px;
  margin: auto;
}
#footer-inner .footer-address a,
#footer-inner .services a {
  color: #212121;
}
.hatena-module {
  width: auto;
  margin: 0 0 40px;
}
@media screen and (min-width: 960px) {
  .hatena-module {
    width: 44%;
    padding: 8px;
    margin: 0 16px 0 0;
  }
}
.hatena-module .hatena-module-title {
  font-size: 18px;
  margin: 0 0 16px;
}
.hatena-module .hatena-module-title a {
  color: #212121;
}
.hatena-module .hatena-module-body a,
.hatena-module .hatena-module-body span {
  color: #212121;
}
.hatena-module .hatena-module-body a:hover,
.hatena-module .hatena-module-body span:hover,
.hatena-module .hatena-module-body a:focus,
.hatena-module .hatena-module-body span:focus {
  color: #4285F4;
}
.hatena-module .hatena-module-body .hatena-urllist {
  padding: 0;
}
.hatena-module .hatena-module-body .hatena-urllist li {
  list-style: none;
  margin: 0 0 16px;
}
.hatena-module .hatena-module-body .urllist-item {
  margin: 0 0 16px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-image-link img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-date-link time {
  color: #90A4AE;
}
.hatena-module .hatena-module-body .urllist-item .urllist-title-link {
  color: #212121;
  margin: 0 0 8px;
  font-size: 16px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-title-link:hover,
.hatena-module .hatena-module-body .urllist-item .urllist-title-link:focus {
  color: #4285F4;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories {
  margin: 0 0 8px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories a {
  background: #ECECEC;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  color: #212121;
  padding: 0.45em;
  display: inline-block;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories a:hover,
.hatena-module .hatena-module-body .urllist-item .urllist-categories a:focus {
  border: 1px solid #ECECEC;
  background: #fff;
  transition: 0.3s;
}
.hatena-module .hatena-module-body .urllist-item .urllist-categories .urllist-category-link {
  margin: 0 0 4px;
}
.hatena-module-profile .hatena-module-body {
  display: flex;
  flex-direction: column;
}
.hatena-module-profile .hatena-module-body .profile-icon,
.hatena-module-profile .hatena-module-body .id {
  margin: 0 0 8px;
}
.hatena-module-profile .hatena-module-body .profile-description p {
  font-size: 14px;
  margin: 0 0 8px;
}
.hatena-module-category .hatena-urllist a {
  background: #ECECEC;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  color: #212121;
  padding: 0.45em;
  display: inline-block;
}
.hatena-module-category .hatena-urllist a:hover,
.hatena-module-category .hatena-urllist a:focus {
  border: 1px solid #ECECEC;
  background: #fff;
  color: #212121;
  transition: 0.3s;
}
.search-form {
  width: 100%;
  display: flex;
}
.entry {
  margin: 0 0 80px;
}
.entry .entry-header {
  position: relative;
}
.entry .entry-header .entry-date {
  margin: 0 0 16px;
}
.entry .entry-header .entry-date a {
  color: #90A4AE;
}
.entry .entry-header .entry-title {
  margin: 0 0 16px;
}
.entry .entry-header .entry-title a {
  color: #212121;
  font-family: 'YuMincho';
}
.entry .entry-header .entry-title a:hover,
.entry .entry-header .entry-title a:focus {
  color: #90A4AE;
}
.entry .entry-header .entry-header-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.entry .entry-header .entry-header-menu a {
  color: #212121;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  padding: 0.45em;
}
.entry .entry-header .entry-header-menu a:hover,
.entry .entry-header .entry-header-menu a:focus {
  background: #ECECEC;
  border: 1px solid #ECECEC;
  transition: 0.3s;
}
.entry .entry-header .entry-categories {
  margin: 0 0 16px;
}
.entry .entry-header .entry-categories .entry-category-link {
  color: #212121;
  font-size: 14px;
  padding: 0.45em;
  display: inline-block;
}
.entry .entry-header .entry-categories .entry-category-link:hover,
.entry .entry-header .entry-categories .entry-category-link:focus {
  color: #90A4AE;
  transition: 0.3s;
}
.entry .entry-content .table-of-contents {
  background: #F2F3F4;
  border-radius: 4px;
  padding: 8px 16px;
}
.entry .entry-content .table-of-contents a {
  color: #212121;
  line-height: 1.5;
}
.entry .entry-content .table-of-contents li {
  list-style: none;
  margin-inline-start: 1em;
}
.entry .entry-content .table-of-contents li ul li {
  list-style-type: disc;
}
.entry .entry-content p {
  font-size: 18px;
  line-height: 1.8;
}
.entry .entry-content p a {
  color: #4285F4;
}
.entry .entry-content p a:hover,
.entry .entry-content p a:focus {
  text-decoration: underline;
}
.entry .entry-content p code {
  background: #272822;
  color: #f8f8f2;
  border-radius: 4px;
  padding: 0.24em;
}
.entry .entry-content li {
  line-height: 1.6;
}
.entry .entry-content h1,
.entry .entry-content h2,
.entry .entry-content h3,
.entry .entry-content h4,
.entry .entry-content h5,
.entry .entry-content h6 {
  margin: 33px 0;
}
.entry .entry-content h1 {
  font-size: 32px;
}
.entry .entry-content h2 {
  font-size: 30px;
}
.entry .entry-content h3 {
  font-size: 28px;
}
.entry .entry-content h4 {
  font-size: 26px;
}
.entry .entry-content h5 {
  font-size: 24px;
}
.entry .entry-content h6 {
  font-size: 22px;
}
.entry .entry-content hr {
  margin: 16px 0;
}
.entry .entry-content table {
  width: 100%;
}
.entry .entry-content table th,
.entry .entry-content table td {
  padding: 0.45em;
}
.entry .entry-content thead tr {
  background: #90A4AE;
}
.entry .entry-content tbody tr:nth-child(2n+1) {
  background: #ECECEC;
}
.entry .entry-content blockquote {
  margin: 0;
  padding: 16px 24px;
  background: #F2F3F4;
  border-left: 4px solid #90A4AE;
  border-radius: 4px;
}
.entry .entry-content blockquote p {
  margin: 0 0 16px;
  font-style: oblique;
}
.entry .entry-content blockquote p a {
  text-align: center;
}
.entry .entry-content pre {
  background: #272822;
  color: #f8f8f2;
  border-radius: 4px;
  margin: 0 0 16px;
  padding: 16px 24px;
}
.archive-entry {
  margin: 0 0 40px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  padding: 8px 16px;
}
.archive-entry .archive-entry-header .date {
  margin: 0 0 8px;
}
.archive-entry .archive-entry-header .date time {
  font-size: 16px;
  color: #90A4AE;
}
.archive-entry .archive-entry-header .entry-title {
  margin: 0 0 16px;
}
.archive-entry .archive-entry-header .entry-title a {
  color: #212121;
  font-family: 'YuMincho';
}
.archive-entry .categories {
  margin: 0 0 16px;
}
.archive-entry .categories a {
  background: #fff;
  border-radius: 4px;
  color: #212121;
  font-size: 14px;
  padding: 0.45em;
  background: #ECECEC;
  border: 1px solid #ECECEC;
  transition: 0.3s;
}
.archive-entry .archive-entry-body .entry-description {
  color: #90A4AE;
  font-size: 14px;
}
