.archive-entry{
    margin: 0 0 40px;
    .archive-entry-header{
        .date{
            margin: 0 0 8px;
            time{
                font-size: 16px;
                color: @gray;
            }
        }
        .entry-title{
            margin: 0 0 16px;
            a{
                color: @heading;
                font-family: 'YuMincho';

                &:hover,&:focus{
                    color: @link;
                }
            }
        }
    }
    .categories{
        margin: 0 0 16px;
        a{
            color: @heading;
            font-size: 14px;
            padding: 0.45em;
            &:hover,&:focus{
                color: @link;
            }
        }
    }
    .archive-entry-body{
        .entry-description{
            color: @text;
            font-size: 14px;
        }
    }
}