body{
    font-family: 'Helvetica Neue','Yu Gothic','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.header-image-enable{
    .blog-title-content{
        #title{
            a{
                color: @white;
            }
        }
        #blog-description{
            color: @white;
        }
    }
}
#blog-title{
    margin: 0 0 80px;
    #blog-title-content{
        padding: 32px 16px;
        #title{
            margin: 0 0 16px;
            a{
                font-size: 18px;
                color: @heading;
            }
        }
        #blog-description{
            font-size: 14px;
            font-weight: 400;
            color: @gray;
            margin: 0;
        }
    }
}
#container{
    background: #fff;
    margin: 16px auto;
    @media @viewport-min-960{
        margin: 40px auto;
    }
}
#container-inner{
    width: auto;
    margin: auto 1rem;

    @media @viewport-min-960{
        max-width: 630px;
        margin: auto;
    }

}
.content-inner{
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media @viewport-min-960{
        flex-direction: row;
    }
}
#top-box{
    a,span{
        color: @gray;
    }
}
#main{
    width: auto;

    @media @viewport-min-960{
        width: 660px;
        padding: 16px 24px;
        margin: 72px 0;
    }
}

#box2{
    width: auto;
    margin: 0 1rem;
    @media @viewport-min-960{
        width: 660px;
        padding: 0 0 40px 0;
        margin: 0 16px 0 0;
    }
}

#box2-inner{
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @media @viewport-min-960{
        flex-flow: row wrap;
    }
}
#bottom-editarea,#footer{
    max-width: 960px;
    margin: 2em auto;
    font-size: 80%;
    text-align: center;
    a,p{
        color: @heading;
    }
    .services,.footer-address{
        margin: 0 8px 0 0;
    }
}